* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	color: #fff;
}
p{
	color: #fff;
}
body {
    background-image: url(sand.jpg);
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
	gap: 10%;
}

body:after {
    content: '';
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #00000030;
    z-index: -1;
}
.main{
    backdrop-filter: blur(5px);

}
.text-center{
	color:#fff;	
	text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}
.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	backdrop-filter: blur(5px);
	border-radius:3px;
	padding:70px 100px;
}
.box1{
	backdrop-filter: blur(5px);
	border-radius:3px;
	padding:70px 100px;
}
.box2{
	width: 40%;
	height: 80%;
	backdrop-filter: blur(5px);
	border-radius:3px;
	padding:70px 100px;
}
.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:-15px;
	left:0px;
	font-size:16px;
	color:#fff;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #b69649;	
}
.input-container1{
	position:relative;
	margin-bottom:25px;
}
.input-container1 label{
	position:absolute;
	top:-15px;
	left:0px;
	font-size:16px;
	color:#fff;
	transition: all 0.5s ease-in-out;
}
.input-container1 input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container1 input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #b69649;	
}
.btn{
	color:#fff;
	background-color:#b69649;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}
li{
    background-color: #ffffff50;
}
#tableau{
	width: auto;
	height: 85%;
	overflow: auto;
}
#tableau::-webkit-scrollbar {
	width: 5px; /* width of the entire scrollbar */
}

#tableau::-webkit-scrollbar-track {
	backdrop-filter: blur(5px); /* color of the tracking area */
}

#tableau::-webkit-scrollbar-thumb {
	background-color: #b69649;
	border-radius: 20px;
}
.filter{
	height: 15%;
}
.outilfilter{
	color: #000;
}
.trash{
	top: 50%;
	right: 5%;
	background: none;
    border: none;
}